/* GLOBAL STUFF */
body{
	height: 100vh;
	margin:0%;
	background-color: black;
	font-weight:lighter;
	font-family: Helvetica !important;
	color: greenyellow !important;
}

p{
	display: block;
}

/* ALL MENU BUTTONS */
button{
	background-color: rgb(188, 251, 61);
	padding: 20px;
	border-style: none;
	font-weight: lighter;
}

button:hover{
	background-color: aliceblue;
}

#menu-button{
	background-color: white;
	position: fixed;
    top: 15px;
    left: 10px;
}
#video-container{
	position: absolute;
	bottom: 5px;
	right: 3px;
	background-color: transparent;
}
#menu-button:hover{
	background-color: rgb(188, 251, 61);
	padding: 2px;
}

.nav-button{
	width: 250px;
	font-size: large;
}

.contact-button{
	width: 220px;
}

#submit-here{
	width: 400px;
	font-size: large;
	text-align: center;
}
/*APERTURE VIDEOS*/
.sundance {
	background-color: transparent;
	position: absolute;
	top: 50px;
	right: 125px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.yonkers{
	background-color: transparent;
	position: absolute;
	bottom: 50px;
	left: 125px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.losing{
	background-color: transparent;
	position: absolute;
	top: 202px;
	right: 422px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.houstons{
	background-color: transparent;
	position: absolute;
	bottom: 231px;
	right: 378px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.joni{
	background-color: transparent;
	position: absolute;
	bottom: 16px;
	right: 81px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.prude{
	background-color: transparent;
	position: absolute;
	top: 134px;
	right: 234px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.shikeith{
	background-color: transparent;
	position: absolute;
	bottom: 469px;
	left: 256px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.rebirth{
	background-color: transparent;
	position: absolute;
	top: 382px;
	left: 333px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
.bailey{
	background-color: transparent;
	position: absolute;
	bottom: 117px;
	right: 444px;
	border-radius: 50%;
	transform: scale(0.5, 0.5);
	background-color:rgb(188, 251, 61);
	opacity: 0.20;
}
/*#aperture-video {
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}
/* OFF-CANVAS MENU */
#Menu{
	width: 300px;
}

.offcanvas-body
{
	background-color: black;
	color:rgb(173, 255, 47);
}

#github-logo{
	width: 100px;
	padding-bottom: 50px;
}

/* CONTACT PAGE */
#contact-body{
	display: flex;
    justify-content: center;
    align-items: center;
}

/* TUTORIAL PAGE */
#tutorial-text{
	max-width: 40%;
	justify-content:center;
	min-width: 300px;
}

#tutorial-page{
	display: flex;
    justify-content: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.tutorial-img{
	padding-top: 25px;
	padding-bottom: 25px;
	width: 450px;
}

/*SUBMISSIONS PAGE */
#contact-button{
	width: 400px;
	font-size: large;
	text-align: center;
}
#submissions.contact-button{
	width: 400px;
	font-size: large;
	text-align: center;
}